<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/font/font_svcu02nytc/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../static/style/public.css" />
		<link rel="stylesheet" type="text/css" href="../static/style/imglist.css" />
	</head>
	<body>
		<div class="head">
			<div class="header">
				<div class="container">
					<div class="logo"><a href="/index"><img src="../static/image/logoblack.png" ></a></div>
					<ul class="titlelist">
						<li><a href="/index">首页</a></li>
						<li><a href="/activity">问答推荐</a></li>
						<li><a href="/imglist">图库</a></li>
					</ul>
					<div class="dengru">
						<div><a href="/login">登录</a></div>
						<div><a href="/login">注册</a></div>
					</div>
				</div>
			</div>
				<div class="banner">
					<div><img src="https://api.dujin.org/bing/1920.php"></div>
					
				</div>
				
		</div>
		<div class="centerbox" style="margin-top:0px;">
			<div class="container">
				<div class="nav">
					<ul>
						<li><a href="#">热门</a></li>
						<li><a href="#">排名上升</a></li>
						
					</ul>
					<div>全部类别<i class="iconfont icon-xia"></i></div>
				</div>
				<ul class="imgul yi">
					<li><span>
							<img src="../static/image/17.png">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/19.png">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/5.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/20.png">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/8.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
				</ul>
				<ul class="imgul er">
					<li><span><img src="../static/image/9.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/40.jpeg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/4.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/7.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
				</ul>
				<ul class="imgul san">
					<li><span><img src="./../static/image/suc/14.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/47.png">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/3.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/48.png">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/44.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
				</ul>
				<ul class="imgul yi">
					<li><span>
							<img src="../static/image/17.png">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/19.png">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/5.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/20.png">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/8.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
				</ul>
				<ul class="imgul er">
					<li><span><img src="../static/image/9.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/40.jpeg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/4.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/7.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
				</ul>
				<ul class="imgul san">
					<li><span><img src="./../static/image/suc/14.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/47.png">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/3.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/48.png">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
					<li><span><img src="../static/image/44.jpg">
							<div><span>82329</span> 游览</div>
							<div><span>5</span> <i class="iconfont icon-shoucang"></i></div>
							<div>
								<a href="#">
									<img src="../static/image/25.png">
									<span>白雪UKi</span>
								</a>
							</div>
							<div><i class="iconfont icon-xin"></i><span>831</span></div>
						</span></li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="footer-yi">
					<h3><img src="../static/image/logoblack.png" ></h3>
					<div>
						<p>DGRKGRS是以旅游爱好者为核心的旅游景点推荐系统,</p>
						<p>以多模态知识图谱为基础，进行精准个性化的景点推荐。</p>
					</div>
				</div>
				<div class="footer-er">
					<div>
						<h3>关注我们</h3>
						<ul>
							<li><a href="#"><i class="iconfont icon-weibo"></i></a></li>
							<li><a href="#"><i class="iconfont icon-weixin"></i></a></li>
						</ul>
					</div>
					<div>
						<h3>APP下载</h3>
						<img src="../static/image/qqimg.png" >
					</div>
					<div>
						<div><a href="#"><i class="iconfont icon-pingguo"></i><span>iPhone下载</span></a></div>
						<div><a href="#"><i class="iconfont icon-android-fill"></i><span>Android下载</span></a></div>
					</div>
				</div>
			</div>
		<script type="text/javascript" src="script/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="script/js.js"></script>
	</body>
</html>
