<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/font/font_svcu02nytc/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../static/style/public.css" />
		<link rel="stylesheet" type="text/css" href="../static/style/index.css" />
	</head>
	<body>
		<div class="head">
			<div class="header">
				<div class="container">
					<div class="logo"><a href="/index"><img src="../static/image/logoblack.png" ></a></div>
					<ul class="titlelist">
						<li><a href="/index">首页</a></li>
						<li><a href="/activity">问答推荐</a></li>
						<li><a href="/imglist">图库</a></li>
					</ul>
					<div class="dengru">
						<div><a href="/login">登录</a></div>
						<div><a href="/login">注册</a></div>
					</div>
				</div>
			</div>
				<div class="banner">
					<div><img src='https://api.dujin.org/bing/1920.php'></div>
					
				</div>
				
		</div>
		<div class="centerbox">
			<div class="container">
				<h1>热门游记</h1>
				<p class="miaoshu">最新发布</p>
				<ul class="imglist imglistone">
					<li>
						<a href="#">
						<img src="../static/image/4.jpg">
						<div class="text">
							<div>
								<div><span>2022-3-9</span></div>
								<div><i class="iconfont icon-tupian"></i><span>295</span><i class="iconfont icon-yanjing"></i><span>18689</span></div>
							</div>
							<h3>
								新疆 | 7月南疆人文自驾环线攻略中...
							</h3>
							<p><i class="iconfont icon-jiangpai"></i>新疆，一块国内游最难啃的地方，远，太远了，懒惰的我一直都未将新疆纳入计划，总找借口...</p>
						</div>
						</a>
					</li>
					<li>
						<a href="#">
						<img src="../static/image/5.jpg">
						<div class="text">
							<div>
								<div><span>2022-3-3</span></div>
								<div><i class="iconfont icon-tupian"></i><span>355</span><i class="iconfont icon-yanjing"></i><span>16442</span></div>
							</div>
							<h3>
								武汉赏樱 | 十日樱花作意开，绕花岂惜日千回？
							</h3>
							<p><i class="iconfont icon-jiangpai"></i>行程第一天，初见武汉9点半的飞剑，免不了在机场拍拍拍。12:05我们准时到武汉...</p>
						</div>
						</a>
					</li>
				</ul>
				<ul class="imglist imglisttwo">
					<li>
						<a href="#">
						<img src="../static/image/45.jpg">
						<div class="text">
							<div>
								<div><span>2022-5-6</span></div>
								<div><i class="iconfont icon-tupian"></i><span>290</span><i class="iconfont icon-yanjing"></i><span>12651</span></div>
							</div>
							<h3>
								稻城亚丁 | 天谴神功，底蕴香醇，惊世园田。
							</h3>
							<p><i class="iconfont icon-jiangpai"></i>本人学生党，没事喜欢到处走走，瞅准了清明假期跟同学商量了一下...</p>
						</div>
						</a>
					</li>
					<li>
						<a href="#">
						<img src="../static/image/46.jpg">
						<div class="text">
							<div>
								<div><span>2022-2-9</span></div>
								<div><i class="iconfont icon-tupian"></i><span>295</span><i class="iconfont icon-yanjing"></i><span>18689</span></div>
							</div>
							<h3>
								新疆 | 7月南疆人文自驾环线攻略中...
							</h3>
							<p><i class="iconfont icon-jiangpai"></i>新疆，一块国内游最难啃的地方，远，太远了，懒惰的我一直都未将新疆纳入计划，总找借口...</p>
						</div>
						</a>
					</li>
					<li>
						<a href="#">
						<img src="../static/image/49.png">
						<div class="text">
							<div>
								<div><span>2022-3-3</span></div>
								<div><i class="iconfont icon-tupian"></i><span>355</span><i class="iconfont icon-yanjing"></i><span>16442</span></div>
							</div>
							<h3>
								武汉赏樱 | 十日樱花作意开，绕花岂惜日千回？
							</h3>
							<p><i class="iconfont icon-jiangpai"></i>行程第一天，初见武汉9点半的飞剑，免不了在机场拍拍拍。12:05我们准时到武汉...</p>
						</div>
						</a>
					</li>
				</ul>
				<div class="gengduo">
					<a href="#">更多活动</a>
				</div>
			</div>
			<div class="paihang">
				<h2>旅游大V排行榜</h2>
				<div class="text">
					<div class="bangtwo bangpublic bangtt">
						<div>
							<div><img src="../static/image/twot.png" ><img src="../static/image/11.png" ></div>
						</div>
						<div>
							<div class="name" style="color:rgb(152,152,152);"><span>千手</span><img src="../static/image/v.png" ></div>
							<div class="fen" style="color:rgb(152,152,152);">作品194|粉丝77147</div>
						</div>
						<div><img src="../static/image/two.png" ></div>
					</div>
					<div class="bangone bangpublic">
						<div>
							<div><img src="../static/image/onet.png" ><img src="../static/image/111.png" ></div>
						</div>
						<div>
							<div class="name"><span>喜多川</span><img src="../static/image/v.png" ></div>
							<div class="fen">作品194|粉丝77147</div>
						</div>
						<div><img src="../static/image/one.png" ></div>
					</div>
					<div class="bangthree bangpublic bangtt">
						<div>
							<div><img src="../static/image/threet.png" ><img src="../static/image/1111.jpg" ></div>
						</div>
						<div>
							<div class="name" style="color:rgb(240,125,44);"><span>梦泽</span><img src="../static/image/v.png" ></div>
							<div class="fen" style="color:rgb(240,125,44);">作品194|粉丝77147</div>
						</div>
						<div><img src="../static/image/three.png" ></div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="newclass">
					<div class="newclass-title">
						<h3>景点推荐</h3>
						<h3>热门景点</h3>
					</div>
					<div class="newclass-list">
						<div>
							<ul class="imglist imglisttwo">
								<li>
									<a href="#">
									<img src="../static/image/8.jpg">
									<div class="text">
										<div>
											<div><span>景点推荐</span></div>
											<div><i class="iconfont icon-tupian"></i><span>2905</span><i class="iconfont icon-yanjing"></i><span>958481</span></div>
										</div>
										<h3>
											最美景点
										</h3>
										<p><i class="iconfont icon-jiangpai"></i>2020最值得的景点</p>
									</div>
									</a>
								</li>
								<li>
									<a href="#">
									<img src="../static/image/9.jpg">
									<div class="text">
										<div>
											<div><span>景点推荐</span></div>
											<div><i class="iconfont icon-tupian"></i><span>2905</span><i class="iconfont icon-yanjing"></i><span>958481</span></div>
										</div>
										<h3>
											天山
										</h3>
										<p><i class="iconfont icon-jiangpai"></i>你一定要来的地方</p>
									</div>
									</a>
								</li>
							</ul>
							<ul class="imglist imglisttwo">
								<li>
									<a href="#">
									<img src="../static/image/38.jpg">
									<div class="text">
										<div>
											<div><span>景点推荐</span></div>
											<div><i class="iconfont icon-tupian"></i><span>2905</span><i class="iconfont icon-yanjing"></i><span>958481</span></div>
										</div>
										<h3>
											异域风土人情
										</h3>
										<p><i class="iconfont icon-jiangpai"></i>见识不同的宗教和风俗</p>
									</div>
									</a>
								</li>
								<li>
									<a href="#">
									<img src="../static/image/13.png">
									<div class="text">
										<div>
											<div><span>景点推荐</span></div>
											<div><i class="iconfont icon-tupian"></i><span>2905</span><i class="iconfont icon-yanjing"></i><span>958481</span></div>
										</div>
										<h3>
											猜猜这是哪？50元人民币的地方
										</h3>
										<p><i class="iconfont icon-jiangpai"></i>布达拉宫哟！</p>
									</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="wenlist">
							<div class="title"><a href="#">热门</a><span>|</span><a href="#">最新</a></div>
							<ul>
								<li class="list-first"><a href="#">
									<img src="../static/image/13.png" >
									<span class="biao">1</span>
									<div class="kuang"><span>布达拉宫</span></div>
								</a></li>
								<li class="list-li"><a href="#">
									<div><img src="../static/image/12.png" >
									<span class="biao">2</span></div>
									<div>
										<h4>沙卡盐湖</h4>
										<p>沙卡盐湖</p>
									</div>
								</a></li>
								<li class="list-li"><a href="#">
									<div><img src="../static/image/23.jpg" >
									<span class="biao">2</span></div>
									<div>
										<h4>沙卡盐湖</h4>
										<p>沙卡盐湖</p>
									</div>
								</a></li>
								<li class="list-li"><a href="#">
									<div><img src="../static/image/24.jpg" >
									<span class="biao">3</span></div>
									<div>
										<h4>沙卡盐湖</h4>
										<p>沙卡盐湖</p>
									</div>
								</a></li>
								<li class="list-li"><a href="#">
									<div><img src="../static/image/33.png" ></div>
									<div>
										<h4>沙卡盐湖</h4>
										<p>沙卡盐湖</p>
									</div>
								</a></li>
								<li class="list-li"><a href="#">
									<div><img src="../static/image/35.jpg" ></div>
									<div>
										<h4>沙卡盐湖</h4>
										<p>沙卡盐湖</p>
									</div>
								</a></li>
							</ul>
						</div>
					</div>
					<div class="gengduo">
						<a href="#">更多看点</a>
					</div>
				</div>
			</div>
			<div class="shipin">
				<h2>景点视频</h2>
				<ul>
					<li>
						<video controls>
							<source src="../static/image/视频.mp4" type="video/mp4"></source>
						</video>
					</li>
					<li>
						<video controls>
							<source src="../static/image/视频1.mp4" type="video/mp4"></source>
						</video>
					</li>
					<li>
						<video controls>
							<source src="../static/image/video.mp4" type="video/mp4"></source>
						</video>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="footer-yi">
					<h3><img src="../static/image/logoblack.png" ></h3>
					<div>
						<p>DGRKGRS是以旅游爱好者为核心的旅游景点推荐系统,</p>
						<p>以多模态知识图谱为基础，进行精准个性化的景点推荐。</p>
					</div>
				</div>
				<div class="footer-er">
					<div>
						<h3>关注我们</h3>
						<ul>
							<li><a href="#"><i class="iconfont icon-weibo"></i></a></li>
							<li><a href="#"><i class="iconfont icon-weixin"></i></a></li>
						</ul>
					</div>
					<div>
						<h3>APP下载</h3>
						<img src="../static/image/qqimg.png" >
					</div>
					<div>
						<div><a href="#"><i class="iconfont icon-pingguo"></i><span>iPhone下载</span></a></div>
						<div><a href="#"><i class="iconfont icon-android-fill"></i><span>Android下载</span></a></div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../static/script/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="../static/script/js.js"></script>
	</body>
</html>
